@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  color: #edf5e1;
}
.App {
  height: 100%;
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5cdb95;
  color: #edf5e1;
  font-family: 'Bebas Neue', cursive;
  border-radius: 0.8rem;
}

h1 {
  padding: 30px;
  font-size: 3rem;
  text-align: center;
}

h2 {
  padding-bottom: 50px;
  font-size: 2em;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button.get-activity {
  background-color: #379683;
  padding: 0.625rem 1.25rem;
  color: #edf5e1;
  border: none;
  border-radius: 0.7rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  margin: 1rem;
}

button.get-activity:hover {
  cursor: pointer;
  background-color: #edf5e1;
  color: #379683;
}
button.get-activity:focus {
  outline: none;
}

.filter {
  margin: 1em;
  margin-top: 2.5rem;
}
label {
  font-size: 1.3em;
  padding: 0 0.3rem;
}

select {
  cursor: pointer;
  background-color: #379683;
  color: #edf5e1;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2em;
  padding: 0.2rem 0.3rem;
  padding-right: 1rem;
  margin-right: 0.8rem;
  border: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

select:focus {
  outline: none;
}

.random-activity {
  font-size: 2.5em;
  height: 10rem;
  width: 70%;
  background-color: #379683;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}
